<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">YB Blog</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <!-- Sol Menü -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Hakkımızda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'article:articles' %}">Makaleler</a>
      </li>
    </ul>

    <!-- Sağ Menü -->
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:addarticle' %}">Makale Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'user:logout' %}" class="form-inline my-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Çıkış Yap</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:login' %}">Giriş Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:register' %}">Kayıt Ol</a>
        </li>
      {% endif %}
    </ul>

  </div>
</nav>