{% extends "layout.html" %}
{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>Merhaba! Ben Mustafa Murat Coşkun, ODTÜ Bilgisayar Mühendisliği öğrencisiyim.
Yazılım Bilimi kanalını, programlama ve yazılım öğrenmek isteyen gençlere yardımcı olmak, yazılımcı adaylarına rehberlik etmek amacıyla kurdum.
Amacımız, Türkiye’de yazılım kültürünü geliştirmek ve eğitimde fırsat eşitliğini desteklemektir.
Bu doğrultuda kanalda ücretsiz ve kaliteli içerikler üreterek yazılımı, bilimi ve teknolojiyi herkes için ulaşılabilir hale getirmeyi hedefliyoruz.
Yazılım Bilimi’ni, gelecekte ülkemizin dört bir yanına hitap eden kapsamlı bir online akademiye dönüştürmeyi planlıyoruz.
Hep birlikte yazılımı, bilimi ve öğrenme tutkusunu yaygınlaştırmak için çalışıyoruz.
Birlikte öğrenelim, birlikte geliştirelim!</p>
{% endblock body %}